*

!.gitignore
!.gitattributes
!README.md

!flake.nix
!flake.lock

!gleam.toml
!manifest.toml
!src/
!src/*.gleam
!src/*.erl
!test/
!test/*.gleam

!rslib/
!rslib/Cargo.toml
!rslib/Cargo.lock
!rslib/src/
!rslib/src/*.rs
